.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--container-width);
  margin: 0 auto;

  padding: 80px 0 40px 0;

  .compare-heading {
    display: flex;
    h2 {
      font: var(--font-text-1);
      font-weight: 700;
      color: var(--color-black);
    }

    span {
      font: var(--font-text-1);
      font-weight: 700;
      color: var(--text-secondary);
    }
  }

  .compare-slider {
    position: relative;
    margin-top: 40px;
    display: flex;
    gap: 12px;

    .compare-slider__arrow-left {
      position: absolute;
      top: 50%;
      left: -48px;
      transform: translateY(-50%);
      cursor: pointer;

      img {
        &:active {
          transform: scale(0.9);
        }
      }
    }

    .compare-slider__arrow-right {
      position: absolute;
      top: 50%;
      right: -48px;
      transform: translateY(-50%);
      cursor: pointer;

      img {
        &:active {
          transform: scale(0.9);
        }
      }
    }

    .swiper-wrapper {
      width: calc(var(--container-width) + 36px);
      .compare-slider__item {
        background: var(--color-white);
        padding: 10px;
        border-radius: var(--brr);
        width: 306px !important;

        transition: all 0.3s ease;

        .compare-slider__item-title {
          text-wrap: wrap;
          display: flex;
          align-items: start;
          justify-content: space-between;
          font: var(--font-text-2);
          font-weight: 700;

          img {
            transform: rotate(-45deg);
            cursor: pointer;
          }
        }

        .compare-slider__item-subtitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            font: var(--font-text-2);
            font-weight: 700;
            color: var(--brand-color);
          }

          button {
            font: var(--font-text-3);
            font-weight: 700;
            color: var(--color-white);
            outline: none;
            border: none;
            background: var(--brand-color);
            padding: 6px 16px;
            border-radius: var(--brr);
            height: 32px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .compare-nav {
    position: relative;
    width: calc(var(--container-width) + 36px);
  }
}

@media screen and (max-width: 360px) {
  .compare {
    max-width: var(--container-width-s);
    overflow: hidden;

    .compare-heading {
      font-size: 28px;
      line-height: 34px;
    }
  }
}
