.header-mobile {
  display: none;
  @media screen and (max-width: 360px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-mobile__wrapper {
      width: var(--container-width-s);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
  }
}
