.safety {
  padding: 44px 0 80px 0;
  background: var(--color-white);

  .safety-wrapper {
    margin: 0 auto;
    width: var(--container-width);
    overflow: hidden;

    .safety-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: var(--color-black);
        font: var(--font-text-5);
        font-weight: 700;
      }

      img {
        padding: 8px 10px;
      }
    }

    .safety-divider {
      width: 100%;
      height: 1px;
      background: var(--color-grey-2);
      margin: 12px 0 20px 0;
    }

    .safety-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .safety-item__title {
        font: var(--font-text-2);
        color: var(--text-secondary);
      }

      .safety-item__blocks {
        display: flex;

        .safety-item__blocks-item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 324px !important;
          background: var(--background-grey);
          border-radius: var(--brr);
          padding: 10px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .safety {
    padding: 24px 16px;

    .safety-wrapper {
      width: var(--container-width-s);
      overflow: hidden;
    }
  }
}
