@font-face {
  font-family: 'PTRootUI';
  src: url('../fonts/PTRootUI-Regular.woff') format('woff'), url('../fonts/PTRootUI-Regular.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../fonts/PTRootUI-Bold.woff') format('woff'), url('../fonts/PTRootUI-Bold.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../fonts/PTRootUI-Light.woff') format('woff'), url('../fonts/PTRootUI-Light.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../fonts/PTRootUI-Medium.woff') format('woff'), url('../fonts/PTRootUI-Medium.woff2') format('woff2');
  font-weight: 600;
}
